:root {
    --primery-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --succes-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;
    --hero-background-color: #2E2F42;
    --primery-bcg-color: #FFFFFF;
}

h1, 
h2,
h3,
h4,
p {
margin: 0;
}

ul {
padding-left: 0;
margin-top: 0; 
margin-bottom: 0;
}

button {
font-style: normal;
cursor: pointer;
}

img {
display: block;    
}

address {
font-style: normal;
}

.container {
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}

@media screen and (min-width: 480px) {
.container {
width: 428px;
    }  
}

@media screen and (min-width: 768px) {
.container {
width: 768px;
    }  
}

@media screen and (min-width: 1200px) {
.container {
width: 1158px;
  }  
}


body {
font-family: 'Roboto', sans-serif;
color: var(--text-color);
background-color: var(--primery-bcg-color);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.link {
text-decoration: none;
}

.list {
list-style: none;
}

.section {
padding-top: 120px;
padding-bottom: 120px;
}


/*===============HEADER=======================*/

.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
margin-right: 120px;
    
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.header-logo:hover,
.header-logo:focus {
color: var(--pressed-state-color);
}
    
.header-studio {
color: var(--modal-overlay-color);
}

@media screen and (max-width: 767px) {
.menu, .adress {
display: none;
 }  
 .page-header {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    }

 .menu-mobal-open_icon {
    line-height: 0;
    margin-right: 24px;
    }
    
.mobile-menu.is-open {
    transform: translateX(0);
    }
    
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--primery-bcg-color);
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    }
    
.mobile-menu_close_btn {
    position: absolute;
    align-items: center;   
    border-radius: 50%;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #E7E9FC;
    padding: 8px;
    }
    
.menu-mobile-phone {
    padding-top: 80px;
    padding-left: 40px;
    }
    
.menu-phone {
    margin-bottom: 40px;
    width: 148px;
    height: 40px;
    }
    
    
.list-menu-phone {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    
.list-menu-phone-contact {
    color: #404BBF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    }
    
.adress-phone {
    padding-left: 40px;
    margin-top: 284px;
    }
    
.contact-menu-phone {
    margin-bottom: 40px;
    }
    
.phone-item-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 40px;
    }
    
.number-item-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    }

.soc-icon-nav {
    display: flex;  
    align-items: center;
    display: flex;
    /* justify-content: center; */
    gap: 56px;
    text-decoration: none;
    list-style: none;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 48px;
    }
        
.soc-icon-pic {
    width: 40px;
    height: 40px;
    padding-right: 24px;
    padding-bottom: 40px;
    }
        
.social-icon-nav {
    width: 40px;
    height: 40px;  
    border-radius: 50%;
    background-color: var(--primery-brand-color); 
    display: flex;
    justify-content: center;
    align-items: center; 
    }
}



@media screen and (min-width:768px) {
    
    .menu-hamburger {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
    .menu-mobile-phone {
        display: none;
    }
    
.page-header {
    border-bottom: 1px solid var(--accent-color);
    }
        

        
.list-menu {
    font-weight: 500;
    color: var(--modal-overlay-color);
    }
        
        /* .menu-first:not(:last-child) {
        margin-right: 40px;
        } */
        
.menu {
    display: flex;
    gap: 40px;
    }
        
.list-menu-one {
    color: var(--modal-overlay-color);
    font-weight: 500;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        
.list-menu-one:hover,
.list-menu-one:focus {
    color: var(--pressed-state-color);
    }
        
.studio-sheet::after {
    position: absolute;
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
    margin-top: 20px;
    }

.studio-sheet {
    color: var(--pressed-state-color);
    }
        
.portfolio-sheet::after {
    position: absolute;
    content: "";
    display: block;
    width: 66px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
    margin-top: 20px; 
   
    }

.portfolio-sheet {
    color: var(--pressed-state-color);    
    }
        
        
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 0;
    }
        
.navigation {
    display: flex;
    align-items: center;
    }  
        
.adress {
    display: flex;
    margin-left: auto;
    margin-top: auto;
    justify-content: space-between;
    padding-right: 16px;
    }

    .adress-list {
        padding-bottom: 16px;
        padding-top: 16px;
        }

    .adress-item-link {
        margin-bottom: 12px;
    }
        
        
.contact-menu {
    color: var(--text-color);
    }
        
        /* .contact-menu:not(:last-child) {
        margin-right: 40px;    
        } */
        
        
.adress-item-link:hover,
.adress-item-link:focus {
    color: var(--pressed-state-color);
    }
        
.adress-item-link {
    color:  var(--text-color);
        
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 
}  



@media screen and (min-width:1200px) {

.page-header {
    border-bottom: 1px solid var(--accent-color);
    }
        
/* .header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
        
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        
.header-logo:hover,
.header-logo:focus {
    color: var(--pressed-state-color);
    }
        
.header-studio {
    color: var(--modal-overlay-color);
    } */
        
.list-menu {
    font-weight: 500;
    color: var(--modal-overlay-color);
    }
        
.menu-first:not(:last-child) {
    margin-right: 40px;
    }
        
.menu {
    display: flex;
    }
        
.list-menu-one {
    color: var(--modal-overlay-color);
    font-weight: 500;
        
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        
.list-menu-one:hover,
.list-menu-one:focus {
    color: var(--pressed-state-color);
    }
        
.studio-sheet::after {
    position: absolute;
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
    margin-top: 20px;
    }

.studio-sheet {
    color: var(--pressed-state-color);
    }
        
.portfolio-sheet::after {
    position: absolute;
    content: "";
    display: block;
    width: 66px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
    margin-top: 20px; 
    }

.portfolio-sheet {
    color: var(--pressed-state-color);    
    }
        
        
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    }
        
.navigation {
    display: flex;
    align-items: center;
    }  
        
.adress-list {
    display: flex;
    margin-left: auto;
    }
        
.contact-menu {
    color: var(--text-color);
    }
        
.contact-menu:not(:last-child) {
    margin-right: 40px;    
    }
        
        
.adress-item-link:hover,
.adress-item-link:focus {
    color: var(--pressed-state-color);
    }
        
.adress-item-link {
    color:  var(--text-color);
        
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 
    }

/* ------------HERO SECTION---------------------- */

@media screen and (max-width:767px) {


.hero-section {
    background-color: var(--hero-background-color);
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/Dark-mobil.jpg);
    background-size: cover;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
        /* width: 480px; */
        /* padding-left: auto;
        padding-right: auto; */
        }
            
            
.main-title {
    color: var(--primery-bcg-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-right: auto;
    margin-left: auto;
    width: 320px;
    margin: 0 auto;
        }
            
.btn-active {
    background-color: var(--primery-brand-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--primery-bcg-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: 2px solid transparent;
    margin-top: 72px;
    display: inline-block;
            
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
            
.btn-active:hover,
.btn-active:focus {
    background-color: var(--pressed-state-color); 
        }
    }

@media screen and (min-width:768px) {

.hero-section {
    background-color: var(--hero-background-color);
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/Dark-tablet.jpg);
    background-size: cover;
    /* max-width: 1440px; */
    margin: 0 auto;
    width: 100%;
        }
            
            
.main-title {
    color: var(--primery-bcg-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-right: auto;
    margin-left: auto;
    width: 496px;
    margin: 0 auto;
        }
            
.btn-active {
    background-color: var(--primery-brand-color);
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
    color: var(--primery-bcg-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: 2px solid transparent;
    margin-top: 36px;
    display: inline-block;
            
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
            
.btn-active:hover,
.btn-active:focus {
    background-color: var(--pressed-state-color); 
        }

    }

@media screen and (min-width:1200px) {
    .hero-section {
    background-color: var(--hero-background-color);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/people-office-desktop.jpg);
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
        }
            
            
.main-title {
    color: var(--primery-bcg-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-right: auto;
    margin-left: auto;
    width: 496px;
    margin: 0 auto;
        }
            
.btn-active {
    background-color: var(--primery-brand-color);
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
    color: var(--primery-bcg-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: 2px solid transparent;
    margin-top: 48px;
    display: inline-block;
            
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
            
.btn-active:hover,
.btn-active:focus {
    background-color: var(--pressed-state-color); 
        }
    }

@media screen and (min0device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/Dark-bg@2x.jpg);
    }
}

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg-tablet@2x.jpg);
        }
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/people-office-desktop@2x.jpg);
        }
    }    

 /* ------------------OUR WORK-------------------------- */

@media screen and (max-width:767px) {

        .icon-pic {
            display: none;
        }

.list-work {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
    }

.our-work {
    padding-top: 96px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
   }
            
            
.title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.11;
    margin-bottom: 8px;
    margin-top: 72px;
    width: 396px;
    align-items: center;
    justify-content: center;
    text-align: center;
        }
            
.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    align-self: stretch;
    padding-bottom: 96px;
    width: 396px;
    height: 48px;
        }
            
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
        }
    }


@media screen and (min-width:768px) {
        /* .list-work {
            display: flex;
            } */
            .icon-pic {
            display: none;
            }

.list-work {
    display: flex;
    flex-wrap: wrap;
        }  

.our-work {
    padding-top: 96px;
        }
            
.title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.11;
    margin-bottom: 8px;
    margin-top: 72px;
    width: 264px;
        }

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
            /* align-self: stretch; */
            /* margin-bottom: 72px; */
    width: 356px;
    height: 72px;
        }
            
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
        }
    }

@media screen and (min-width:1200px) {

.list-work {
    flex-wrap: nowrap;
        }
            
.icon-pic {
    fill: var(--dark-color);
    display: flex;
    justify-content: center;
    background-color: var(--light-color);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 8px;
        }

.menu-item:not(:last-child) {
    margin-right: 24px;
        }
            
.title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.2;
    margin-bottom: 8px;
        }

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
        /* align-self: stretch; */
         /* margin-bottom: 72px; */
    width: 264px;
    height: 72px;
        }
            
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
        }
    }
